TESTRAIL_HOST=https://brstk.testrail.io
TESTRAIL_USERNAME=your_testrail_username
TESTRAIL_PASSWORD=your_testrail_password

JIRA_PROJECT_URL=https://yashbrowserstack.atlassian.net/jira/software/projects/KAN/boards/2

BROWSERSTACK_TM_URL=https://test-management.browserstack.com/projects
TM_AUTOMATE_RUNS=https://automate.browserstack.com/projects/DD+City+Sales/builds/Test+Run/2

TM_API_KEY=your_tm_api_key
BROWSERSTACK_USERNAME=your_browserstack_username
BROWSERSTACK_ACCESS_KEY=your_browserstack_access_key

TM_INTEGRATIONS_DOC=https://browserstack.atlassian.net/wiki/spaces/CE/pages/3866271884/Test+Management+How+To+Guide+PlayBook#Zephyr-Scale-(Only-for-Customers-on-active-POC%E2%80%99s-trying-to-migrate-)
TM_ASSIGNMENT=https://browserstack.atlassian.net/wiki/spaces/CE/pages/3865511652/Test+Management+Onboarding